# Byte-compiled / optimized / DLL files
__pycache__/

# Virtual environments
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/

# VS Code settings
.vscode/

# Model artifacts
*.joblib
*.json
*.pkl
*.npz
.models/parquet

.env

data/
.CLAUDE
