# VS Code settings
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/

# Virtual environments
.venv/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Model artifacts
models/

# Data directory
data/