# Byte-compiled / optimized / DLL files
__pycache__/

# Virtual environments
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/

# VS Code settings
.vscode/

# Downloaded datasets
data/input/
data/output/
*.jpg
